<!DOCTYPE html>
<html>
<head>
  <title>Band Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Band Tracker <small>add your band, add venues...rock out.</small></h1>
    </div>
    <%= yield %>
  </div>
</body>
</html>
