<h3>Ruh oh.  There appears to be a problem here....</h3>
<p> Don't fret, accidents happen.</p>
<ul>
  <% @venue.errors().full_message().each() do |message| %>
    <%= message %>
  <% end %>
</ul>

<h4><a href='/'>If at first you don't succeed...Start again!</a></h4>
